/* styles/section-highlights.scss */
@font-face {
  font-family: "cooper";
  src: url(https://cdn.shopify.com/s/files/1/0829/0612/0509/files/cooper.woff?v=1697546053) format("woff");
  font-style: normal;
  font-weight: "normal";
}
@font-face {
  font-family: "adieu";
  src: url(https://cdn.shopify.com/s/files/1/0829/0612/0509/files/Adieu-Light.woff?v=1697546716) format("woff");
  font-style: normal;
  font-weight: "normal";
}
@font-face {
  font-family: "aktiv-grotesk";
  src:
    url(https://use.typekit.net/af/ab3e12/000000000000000077359d4f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),
    url(https://use.typekit.net/af/ab3e12/000000000000000077359d4f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),
    url(https://use.typekit.net/af/ab3e12/000000000000000077359d4f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.font1,
.text {
  font-family: "aktiv-grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.font2,
.highlights-section-wrap .highlights-section-content .headline-section h2 {
  font-family: "cooper", serif;
  font-style: normal;
  font-weight: 400;
}
.font3 {
  font-family: "adieu", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.text {
  font-size: max(0.8333333333vw, 15px);
}
.highlights-section-wrap .highlights-section-content {
  transition: all 400ms ease 0ms;
  background-color: #749FBE;
}
.highlights-section-wrap .highlights-section-content .headline-section {
  padding: max(13.0208333333vw, 90px) max(6.25vw, 20px);
  box-sizing: border-box;
  border-bottom: 1px solid #F9F6E8;
  overflow: hidden;
  position: relative;
}
.highlights-section-wrap .highlights-section-content .headline-section h2 {
  font-size: max(4.5833333333vw, 50px);
  color: #F9F6E8;
  margin-top: 20px;
  line-height: 1.1em;
  text-align: center;
  text-transform: capitalize;
}
.highlights-section-wrap .highlights-section-content .headline-section h2 em {
  font-style: italic;
}
.highlights-section-wrap .highlights-section-content .headline-section .first-shape {
  position: absolute;
  top: -20px;
  transform: rotate(15deg);
  left: 0;
  width: 30vw;
}
.highlights-section-wrap .highlights-section-content .headline-section .second-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 27vw;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section {
  display: flex;
  flex-wrap: wrap;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left {
  width: 45%;
}
@media only screen and (max-width : 1000px) {
  .highlights-section-wrap .highlights-section-content .single-highlight-section .left {
    width: 100%;
    order: 2;
    display: none;
  }
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .left-content {
  position: sticky;
  top: 0;
}
@media only screen and (max-width : 1000px) {
  .highlights-section-wrap .highlights-section-content .single-highlight-section .left .left-content {
    position: relative;
  }
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .media-holder {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .media-holder img,
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .media-holder video {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .media-holder .highlight-media {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 400ms ease 0ms;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .media-holder .highlight-media.visible {
  opacity: 1;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .left .media-holder .highlight-media:first-child {
  opacity: 1;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right {
  width: 55%;
}
@media only screen and (max-width : 1000px) {
  .highlights-section-wrap .highlights-section-content .single-highlight-section .right {
    width: 100%;
    order: 1;
  }
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width : 1000px) {
  .highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap {
    height: auto;
  }
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content {
  max-width: max(21.875vw, 280px);
  width: 100%;
}
@media only screen and (max-width : 1000px) {
  .highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content {
    padding: 60px 0;
  }
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product h3,
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .price {
  color: #F9F6E8;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .btn {
  background-color: #F9F6E8;
  border-color: #F9F6E8;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .btn:after,
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .btn:before {
  color: var(--tooltip-color);
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .btn:hover {
  background-color: var(--tooltip-color);
  border-color: var(--tooltip-color);
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .btn:hover:after,
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .right-content .single-product .btn:hover:before {
  color: #F9F6E8;
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .media-holder {
  overflow: hidden;
  position: relative;
  padding-top: 126%;
  display: none;
  width: 100%;
}
@media only screen and (max-width : 1000px) {
  .highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .media-holder {
    display: block;
  }
}
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .media-holder img,
.highlights-section-wrap .highlights-section-content .single-highlight-section .right .right-content-wrap .media-holder video {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
